%h3
  Details
%p
  You must have JavaScript enabled and use Chrome or Firefox for this page. If you encounter issues, please
  %a{:href=>"http://github.com/chiditarod/dogtag/issues/new/"}
    let us know
  , ensuring you include your browser (and version), and operating system (and version).

%form.form-horizontal{method: 'post', role: 'form', id: 'questions', 'data-team_id' => @team.id, 'data-questions' => @questions}
