.row.alert.alert-warning.alert-dismissable.text-center
  %button.close{ :data => { :dismiss => "alert" } } x
  %i.fa.fa-glass.fa-5x
  %h2= t('.waitlisted')
  %p
    = t('.waitlisted_instructions_html', :email => 'dogtag@chiditarod.org')
