.jumbotron
  %h1= t('website_title')
  %h2.featurette-heading woah
  %p dogtag. mush.
  %p Find me in app/views/teams/mush.html.haml

  %a.btn.btn-large.btn-primary Register for Chiditarod IX
  <a class="btn btn-lg btn-primary" href="http://getbootstrap.com/getting-started/#migration" role="button">View docs &raquo;</a>

  %hr.featurette-divider

  .row.featurette
    .col-md-7
      %h2.featurette-heading
        DogTag
        %span.text-muted will blow your mind.
      %p.lead
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .col-md-5
      %img.corgi.featurette-image.img-responsive{:width => 400, :height => 400}

      %a.btn.btn-large.btn-primary Register for Chiditarod IX
      <a class="btn btn-lg btn-primary" href="http://getbootstrap.com/getting-started/#migration" role="button">View docs &raquo;</a>

  %hr.featurette-divider
