<h1>404</h1>

<p>This app is wild. Better head over to the <a href="/">homepage</a>.

<pre>

              _=,_
           o_/6 /#\
           \__ |##/
            ='|--\
              /   #'-.
              \#|_   _'-. /
               |/ \_( # |"
              C/ ,--___/     404


</pre>
