.row
  .col-sm-6
    %h1 Reset Password

%p
  = t('.instructions')

= form_tag(password_resets_path, class: 'form-horizontal') do
  .form-group
    .col-sm-6.col-md-5
      = text_field_tag(:email, nil, :class => 'form-control')
    .col-sm-6.col-md-7
      = submit_tag('Reset Password', :class => ['btn', 'btn-default'])
