
.page-header
  %h1= t('.races')


- if @races.blank?
  = t('.no_races')
  = link_to t('.create_race'), new_race_path
- else
  %ul
    - @races.each do |race|
      %li= link_to race.name, race_path(race.id)

