.col-sm-12.col-md-6
  %a.wepay-widget-button.wepay-green{id: "wepay_widget_anchor_52dbc3a5ab73f", href: "https://www.wepay.com/stores/593136/item/462158"}
    Get a Patch
  %script{type: "text/javascript"}
    var WePay = WePay || {};WePay.load_widgets = WePay.load_widgets || function() { };WePay.widgets = WePay.widgets || [];WePay.widgets.push( {object_id: 462158,widget_type: "store_item_buy_now",anchor_id: "wepay_widget_anchor_52dbc3a5ab73f",widget_options: {store_id: 593136,show_item_price: true,show_item_images: true,button_text_sold_out: "Sold Out",show_item_custom_options: true,reference_id: ""}});if (!WePay.script) {WePay.script = document.createElement('script');WePay.script.type = 'text/javascript';WePay.script.async = true;WePay.script.src = 'https://static.wepay.com/min/js/widgets.v2.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(WePay.script, s);} else if (WePay.load_widgets) {WePay.load_widgets();}

.col-sm-12.col-md-6
  %a.wepay-widget-button.wepay-green{id: "wepay_widget_anchor_52dbc29724fec", href: "https://www.wepay.com/stores/593136/item/510688"}
    Get 5 Patches
  %script{type: "text/javascript"}
    var WePay = WePay || {};WePay.load_widgets = WePay.load_widgets || function() { };WePay.widgets = WePay.widgets || [];WePay.widgets.push( {object_id: 510688,widget_type: "store_item_buy_now",anchor_id: "wepay_widget_anchor_52dbc29724fec",widget_options: {store_id: 593136,show_item_price: true,show_item_images: true,button_text_sold_out: "Sold Out",show_item_custom_options: true,reference_id: ""}});if (!WePay.script) {WePay.script = document.createElement('script');WePay.script.type = 'text/javascript';WePay.script.async = true;WePay.script.src = 'https://static.wepay.com/min/js/widgets.v2.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(WePay.script, s);} else if (WePay.load_widgets) {WePay.load_widgets();}
