- if @race

  %h1=t('.registrations_for', :name => @race.name)

  - if @registrations.any?
    = render 'table', :registrations => @registrations
  - else
    =t('.no_registrations')

- if current_user.is_any_of? :admin, :operator
  - if @waitlisted_registrations.any?
    %h2=t('.waitlisted_registrations')
    = render 'table', :registrations => @waitlisted_registrations
