// First import theme variables
@import "bootswatch/lumen/variables";

// Then bootstrap
@import "bootstrap";

// And finally bootswatch style
@import "bootswatch/lumen/bootswatch";

@import "tablesorter.theme.bootstrap";

@import "select2.min";

/*@import "base";*/

// Use bootstrap form error styling
// http://gorails.com/blog/trying-out-bootstrap-3-0
.field_with_errors {
  @extend .has-error;
}

.jsonform-errortext {
  color: red;
}

li.select2-selection__choice {
  color: #000;
}

li.select2-results__option {
  color: #000;
}

.select2-name {
  width: 50%;
}

.select2-team {
  width: 50%;
}


.control-group {
  font-size: 110%;
  margin-bottom: 1em;

  input {
    width: 400px;
  }

  .help-block {
    font-size: 115%;
    padding: .3em;
  }
}

label.control-label {
  font-size: 100%;
}
.help-inline {
  font-size:85%;
  margin-left: 1em;
}

table.table {
  font-size: 1.1em;
}
