// First import theme variables
@import "bootswatch/superhero/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
/*body { padding-top: 60px; }*/

// And finally bootswatch style itself
@import "bootswatch/superhero/bootswatch";

// Whatever application styles you have go last
/*@import "base";*/

// Use bootstrap form error styling
// http://gorails.com/blog/trying-out-bootstrap-3-0
.field_with_errors {
  @extend .has-error;
  /*@extend .control-group;*/
  @extend .error;
}

select {
  color: black;
}

.jsonform-errortext {
  color: red;
}
