%ul.nav.nav-list
  %li.nav-header
    DogTag
    -#- @service_list.each do |service|
      -#%li= link_to service.service_name, service_path(service.service_name, :page => params[:page])

  -#%li.nav-header
    -#= will_paginate @service_list, :page_links => false
