<div id="shopify_shop"></div>
<script type="text/javascript">
  var ShopifyStoreConfig = {shop:"chiditarod.myshopify.com", collections:[8938112]};
  (function() {
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
    s.src = "//widgets.shopifyapps.com/assets/shopifystore.js";
    var x = document.getElementById('shopify_shop'); x.parentNode.insertBefore(s, x);
  })();
</script>
<noscript>Please enable javascript, or <a href="http://chiditarod.myshopify.com">click here</a> to visit my <a href="http://www.shopify.com/tour/ecommerce-website">ecommerce web site</a> powered by Shopify.</noscript>
